/* animations */


/* overlay fadein */
@-webkit-keyframes ImageOverFadein {
	0% { -webkit-opacity: 0; }
	50% { -webkit-opacity: .5; }
	100% { -webkit-opacity: .65; }
}
@-moz-keyframes ImageOverFadein {
	0% { -moz-opacity: 0; }
	50% { -moz-opacity: .5; }
	100% { -moz-opacity: .65; }
}
@-ms-keyframes ImageOverFadein {
	0% { -ms-opacity: 0; }
	50% { -ms-opacity: .5; }
	100% { -ms-opacity: .65; }
}
@-o-keyframes ImageOverFadein {
	0% { -o-opacity: 0; }
	50% { -o-opacity: .5; }
	100% { -o-opacity: .65; }
}
@keyframes ImageOverFadein {
	0% { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: .65; }
}


/* overlay fadeout */
@-webkit-keyframes ImageOverFadeout {
	0% { -webkit-opacity: .65; }
	50% { -webkit-opacity: .5; }
	100% { -webkit-opacity: 0; }
}
@-moz-keyframes ImageOverFadeout {
	0% { -moz-opacity: .65; }
	50% { -moz-opacity: .5; }
	100% { -moz-opacity: 0; }
}
@-ms-keyframes ImageOverFadeout {
	0% { -ms-opacity: .65; }
	50% { -ms-opacity: .5; }
	100% { -ms-opacity: 0; }
}
@-o-keyframes ImageOverFadeout {
	0% { -o-opacity: .65; }
	50% { -o-opacity: .5; }
	100% { -o-opacity: 0; }
}
@keyframes ImageOverFadeout {
	0% { opacity: .65; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}


/* overlay slide in from the top */
@-webkit-keyframes ImageOverFromTop {
	0% { top: -50%; -webkit-opacity: 0; }
	40% { top: .5em; -webkit-opacity: 1; }
	60% { top: 0; -webkit-opacity: 1; }
	80% { top: .25em; -webkit-opacity: 1; }
	100% { top: 0; -webkit-opacity: 1; }
}
@-moz-keyframes ImageOverFromTop {
	0% { top: -50%; -moz-opacity: 0; }
	40% { top: .5em; -moz-opacity: 1; }
	60% { top: 0; -moz-opacity: 1; }
	80% { top: .25em; -moz-opacity: 1; }
	100% { top: 0; -moz-opacity: 1; }
}
@-ms-keyframes ImageOverFromTop {
	0% { top: -50%; -ms-opacity: 0; }
	40% { top: .5em; -ms-opacity: 1; }
	60% { top: 0; -ms-opacity: 1; }
	80% { top: .25em; -ms-opacity: 1; }
	100% { top: 0; -ms-opacity: 1; }
}
@-o-keyframes ImageOverFromTop {
	0% { top: -50%; -o-opacity: 0; }
	40% { top: .5em; -o-opacity: 1; }
	60% { top: 0; -o-opacity: 1; }
	80% { top: .25em; -o-opacity: 1; }
	100% { top: 0; -o-opacity: 1; }
}
@keyframes ImageOverFromTop {
	0% { top: -50%; opacity: 0; }
	40% { top: .5em; opacity: 1; }
	60% { top: 0; opacity: 1; }
	80% { top: .25em; opacity: 1; }
	100% { top: 0; opacity: 1; }
}

/* overlay slide in from the bottom */
@-webkit-keyframes ImageOverFromBottom {
	0% { top: 50%; -webkit-opacity: 0; }
	40% { top: -.5em; -webkit-opacity: 1; }
	60% { top: 0; -webkit-opacity: 1; }
	80% { top: -.25em; -webkit-opacity: 1; }
	100% { top: 0; -webkit-opacity: 1; }
}
@-moz-keyframes ImageOverFromBottom {
	0% { top: 50%; -moz-opacity: 0; }
	40% { top: -.5em; -moz-opacity: 1; }
	60% { top: 0; -moz-opacity: 1; }
	80% { top: -.25em; -moz-opacity: 1; }
	100% { top: 0; -moz-opacity: 1; }
}
@-ms-keyframes ImageOverFromBottom {
	0% { top: 50%; -ms-opacity: 0; }
	40% { top: -.5em; -ms-opacity: 1; }
	60% { top: 0; -ms-opacity: 1; }
	80% { top: -.25em; -ms-opacity: 1; }
	100% { top: 0; -ms-opacity: 1; }
}
@-o-keyframes ImageOverFromBottom {
	0% { top: 50%; -o-opacity: 0; }
	40% { top: -.5em; -o-opacity: 1; }
	60% { top: 0; -o-opacity: 1; }
	80% { top: -.25em; -o-opacity: 1; }
	100% { top: 0; -o-opacity: 1; }
}
@keyframes ImageOverFromBottom {
	0% { top: 50%; opacity: 0; }
	40% { top: -.5em; opacity: 1; }
	60% { top: 0; opacity: 1; }
	80% { top: -.25em; opacity: 1; }
	100% { top: 0; opacity: 1; }
}

/* overlay slide in from the left */
@-webkit-keyframes ImageOverFromLeft {
	0% { left: -50%; -webkit-opacity: 0; }
	40% { left: .5em; -webkit-opacity: 1; }
	60% { left: 0; -webkit-opacity: 1; }
	80% { left: .25em; -webkit-opacity: 1; }
	100% { left: 0; -webkit-opacity: 1; }
}
@-moz-keyframes ImageOverFromLeft {
	0% { left: -50%; -moz-opacity: 0; }
	40% { left: .5em; -moz-opacity: 1; }
	60% { left: 0; -moz-opacity: 1; }
	80% { left: .25em; -moz-opacity: 1; }
	100% { left: 0; -moz-opacity: 1; }
}
@-ms-keyframes ImageOverFromLeft {
	0% { left: -50%; -ms-opacity: 0; }
	40% { left: .5em; -ms-opacity: 1; }
	60% { left: 0; -ms-opacity: 1; }
	80% { left: .25em; -ms-opacity: 1; }
	100% { left: 0; -ms-opacity: 1; }
}
@-o-keyframes ImageOverFromLeft {
	0% { left: -50%; -o-opacity: 0; }
	40% { left: .5em; -o-opacity: 1; }
	60% { left: 0; -o-opacity: 1; }
	80% { left: .25em; -o-opacity: 1; }
	100% { left: 0; -o-opacity: 1; }
}
@keyframes ImageOverFromLeft {
	0% { left: -50%; opacity: 0; }
	40% { left: .5em; opacity: 1; }
	60% { left: 0; opacity: 1; }
	80% { left: .25em; opacity: 1; }
	100% { left: 0; opacity: 1; }
}

/* overlay slide in from the right */
@-webkit-keyframes ImageOverFromRight {
	0% { left: 50%; -webkit-opacity: 0; }
	40% { left: -.5em; -webkit-opacity: 1; }
	60% { left: 0; -webkit-opacity: 1; }
	80% { left: -.25em; -webkit-opacity: 1; }
	100% { left: 0; -webkit-opacity: 1; }
}
@-moz-keyframes ImageOverFromRight {
	0% { left: 50%; -moz-opacity: 0; }
	40% { left: -.5em; -moz-opacity: 1; }
	60% { left: 0; -moz-opacity: 1; }
	80% { left: -.25em; -moz-opacity: 1; }
	100% { left: 0; -moz-opacity: 1; }
}
@-ms-keyframes ImageOverFromRight {
	0% { left: 50%; -ms-opacity: 0; }
	40% { left: -.5em; -ms-opacity: 1; }
	60% { left: 0; -ms-opacity: 1; }
	80% { left: -.25em; -ms-opacity: 1; }
	100% { left: 0; -ms-opacity: 1; }
}
@-o-keyframes ImageOverFromRight {
	0% { left: 50%; -o-opacity: 0; }
	40% { left: -.5em; -o-opacity: 1; }
	60% { left: 0; -o-opacity: 1; }
	80% { left: -.25em; -o-opacity: 1; }
	100% { left: 0; -o-opacity: 1; }
}
@keyframes ImageOverFromRight {
	0% { left: 50%; opacity: 0; }
	40% { left: -.5em; opacity: 1; }
	60% { left: 0; opacity: 1; }
	80% { left: -.25em; opacity: 1; }
	100% { left: 0; opacity: 1; }
}
